source_up_if_exists
dotenv_if_exists

# democracy
export DEMOCRACY_DATABASE_SCHEMA=public
export DEMOCRACY_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/democracy

# rust
export RUST_BACKTRACE=1
export RUST_LOG='warn,democracy=trace'

# sqlx
export DATABASE_URL="$DEMOCRACY_DATABASE_URL"
export DATABASE_SCHEMA="$DEMOCRACY_DATABASE_SCHEMA"
